<a href="https://colab.research.google.com/github/wchwin/python_OnCode/blob/master/pd_dataframe_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
dic = {
    '國語':[100,98,85,92,79],
    '數學':[95,93,99,88,89],
    '社會':[94,100,98,79,77],
    '自然':[100,95,93,99,75]
}

id = ['萬一','張三','李四','王武','陳六']

In [43]:
# 測試並複習dict字典檔相關操作
print(dic.keys())
print(sorted(dic.keys()))
print(sorted(dic.keys())[0])
print(dic['國語'][0])
print(dic.items())
print(sorted(dic.items()))

di = list(dic.items())
for i in range(len(di)):
  print(f"{di[i][0]}平均分數：{sum(di[i][1])/len(di[i][1])}")

dict_keys(['國語', '數學', '社會', '自然'])
['國語', '數學', '社會', '自然']
國語
100
dict_items([('國語', [100, 98, 85, 92, 79]), ('數學', [95, 93, 99, 88, 89]), ('社會', [94, 100, 98, 79, 77]), ('自然', [100, 95, 93, 99, 75])])
[('國語', [100, 98, 85, 92, 79]), ('數學', [95, 93, 99, 88, 89]), ('社會', [94, 100, 98, 79, 77]), ('自然', [100, 95, 93, 99, 75])]
國語平均分數：90.8
數學平均分數：92.8
社會平均分數：89.6
自然平均分數：92.4

# pandas Dataframe設定及重要的相關操作

In [ ]:
pdd = pd.DataFrame()
print(pdd)

In [ ]:
pdd = pd.DataFrame(dic) # 未指定列索引名稱(預設會以數字編號)
pdd

In [ ]:
pdd = pd.DataFrame(dic, index=id) # 指定以id串列作為列索引名稱來源
pdd

In [22]:
print(pdd.index[2],pdd['國語'][2])

李四 85

In [42]:
print(pdd.index[1],pdd.columns[0],':',pdd[pdd.columns[0]][1])
print(pdd.index[1],pdd.columns[0],':',di[0][1][1])
print(pdd.index[0],'本次測驗各科成績：')
for i in range(len(pdd.columns)):
  print('    ',pdd.columns[i],':',pdd[pdd.columns[i]][0])

print(pdd.loc['萬一'])  # 列出[萬一]那列的各欄位資料
print(pdd.loc['萬一'][1:3])  # 列出[萬一]那列指定的欄位資料

print(pdd['國語'])  # 列出欄位[國語]那欄的所有資料
print(pdd['國語'][1:3])  # 列出欄位[國語]那欄指定的列資料

張三 國語 : 98
張三 國語 : 98
萬一 本次測驗各科成績：
     國語 : 100
     數學 : 95
     社會 : 94
     自然 : 100
國語    100
數學     95
社會     94
自然    100
Name: 萬一, dtype: int64
數學    95
社會    94
Name: 萬一, dtype: int64
萬一    100
張三     98
李四     85
王武     92
陳六     79
Name: 國語, dtype: int64
張三    98
李四    85
Name: 國語, dtype: int64

In [39]:
for n in range(len(pdd.index)): # len(pdd.index)抓出共有幾筆資料(列數)
  ts = 0
  print(pdd.index[n],'本次測驗各科成績：')  # pdd.index(n)列出第n列的索引名稱
  for i in range(len(pdd.columns)): # len(pdd.columns)抓出共有幾個欄位資料
    print('    ',pdd.columns[i],':',pdd[pdd.columns[i]][n]) 
    # pdd.columns[i]列出第i欄位的欄位索引名稱
    # pdd[pdd.columns[i]][n]抓出第i欄位索引名稱中，第n列的資料內容
    ts += pdd[pdd.columns[i]][n]
  print('     總分：',ts,'  另一種算總分：',sum(pdd.loc[pdd.index[n]]))
  # pdd.loc[pdd.index[n]]說明：pdd.loc列出指定之列索引該列的各欄位資料
  # 用pdd.index[n]來指定要使用的列索引(也就是指定要哪一列的資料)
  # pdd.loc[pdd.index[n]][i:j]可用於指定列出哪一列中第i到j欄的資料即可
  print('pdd.loc[pdd.index[n]][i:j]範例：', pdd.loc[pdd.index[n]][0:2])
  print('     平均：',ts/len(pdd.columns))

for i in range(len(pdd.columns)): # len(pdd.columns)抓出共有幾個欄位資料
    print(pdd.columns[i],'平均分數:',sum(pdd[pdd.columns[i]])/len(pdd[pdd.columns[i]]))
    # sum(pdd[pdd.columns[i]])將第i欄位的資料加總，len(pdd[pdd.columns[i]])算出第i欄位有幾筆資料

萬一 本次測驗各科成績：
     國語 : 100
     數學 : 95
     社會 : 94
     自然 : 100
     總分： 389   另一種算總分： 389
pdd.loc[pdd.index[n]][i:j]範例： 國語    100
數學     95
Name: 萬一, dtype: int64
     平均： 97.25
張三 本次測驗各科成績：
     國語 : 98
     數學 : 93
     社會 : 100
     自然 : 95
     總分： 386   另一種算總分： 386
pdd.loc[pdd.index[n]][i:j]範例： 國語    98
數學    93
Name: 張三, dtype: int64
     平均： 96.5
李四 本次測驗各科成績：
     國語 : 85
     數學 : 99
     社會 : 98
     自然 : 93
     總分： 375   另一種算總分： 375
pdd.loc[pdd.index[n]][i:j]範例： 國語    85
數學    99
Name: 李四, dtype: int64
     平均： 93.75
王武 本次測驗各科成績：
     國語 : 92
     數學 : 88
     社會 : 79
     自然 : 99
     總分： 358   另一種算總分： 358
pdd.loc[pdd.index[n]][i:j]範例： 國語    92
數學    88
Name: 王武, dtype: int64
     平均： 89.5
陳六 本次測驗各科成績：
     國語 : 79
     數學 : 89
     社會 : 77
     自然 : 75
     總分： 320   另一種算總分： 320
pdd.loc[pdd.index[n]][i:j]範例： 國語    79
數學    89
Name: 陳六, dtype: int64
     平均： 80.0
國語 平均分數: 90.8
數學 平均分數: 92.8
社會 平均分數: 89.6
自然 平均分數: 92.4

In [25]:
pdd.head(2) # 列出資料前幾筆(未指定參數的話，預設列出前五筆資料)

     國語  數學   社會   自然
萬一  100  95   94  100
張三   98  93  100   95

In [26]:
print(pdd.head(2))

     國語  數學   社會   自然
萬一  100  95   94  100
張三   98  93  100   95